.input {
  width: 2.87rem;
  height: 2.87rem;

  border-radius: 0.43rem;

  background-color: #ebebfc;
  border: 2px solid #4f4fb9;

  text-transform: uppercase;
  text-align: center;
  color: #4f4fb9;

  outline: none;
}
