.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container main {
  background-color: #fff;

  border-radius: 0.75rem;
  padding: 2rem;
}

.container .word {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1rem;

  margin: 2.5rem 0;
}

.guess {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  margin-top: 0.75rem;
}
